@model List<InventoryItem> 

<h3>Inventory</h3>
<hr/>
<div>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>0</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Inventory" asp-action="Create">Create new Item</a>
</div>
